<div class="mb-6">
  <p>AHP</p>
  <p></p>
  1.ระบุปัจจัย
  <div class="row">
    <div class="col-lg-1" style="height: 90px;line-height: 90px;text-align: center;">ปัจจัยที่ 1</div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="exampleSelect1">เลือก tables</label>
        <select class="form-control" [(ngModel)]="tb1" (ngModelChange)="listField('tb1')">
          <option *ngFor="let t of tb1_lst" [ngValue]="t">{{t.data}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="exampleSelect1">เลือก field</label>
        <select class="form-control" [(ngModel)]="fld1" (ngModelChange)="listYear('tb1')">
          <option *ngFor="let f of fld1_lst" [ngValue]="f">{{f.descb}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="exampleSelect1">เลือก ปี</label>
        <select class="form-control" [(ngModel)]="yr1" (ngModelChange)="selectData('tb1')">
          <option *ngFor="let y of yr1_lst" [ngValue]="y">{{y.year}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">ปัจจัยที่ 2</div>
    <div class="col-lg-4">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="tb2" (ngModelChange)="listField('tb2')">
          <option *ngFor="let t of tb2_lst" [ngValue]="t">{{t.data}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="fld2" (ngModelChange)="listYear('tb2')">
          <option *ngFor="let f of fld2_lst" [ngValue]="f">{{f.descb}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="yr2" (ngModelChange)="selectData('tb2')">
          <option *ngFor="let y of yr2_lst" [ngValue]="y">{{y.year}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">ปัจจัยที่ 3</div>
    <div class="col-lg-4">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="tb3" (ngModelChange)="listField('tb3')">
          <option *ngFor="let t of tb3_lst" [ngValue]="t">{{t.data}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="fld3" (ngModelChange)="listYear('tb3')">
          <option *ngFor="let f of fld3_lst" [ngValue]="f">{{f.descb}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="yr3" (ngModelChange)="selectData('tb3')">
          <option *ngFor="let y of yr3_lst" [ngValue]="y">{{y.year}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">ปัจจัยที่ 4</div>
    <div class="col-lg-4">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="tb4" (ngModelChange)="listField('tb4')">
          <option *ngFor="let t of tb4_lst" [ngValue]="t">{{t.data}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="fld4" (ngModelChange)="listYear('tb4')">
          <option *ngFor="let f of fld4_lst" [ngValue]="f">{{f.descb}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="yr4" (ngModelChange)="selectData('tb4')">
          <option *ngFor="let y of yr4_lst" [ngValue]="y">{{y.year}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">ปัจจัยที่ 5</div>
    <div class="col-lg-4">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="tb5" (ngModelChange)="listField('tb5')">
          <option *ngFor="let t of tb5_lst" [ngValue]="t">{{t.data}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="fld5" (ngModelChange)="listYear('tb5')">
          <option *ngFor="let f of fld5_lst" [ngValue]="f">{{f.descb}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="yr5" (ngModelChange)="selectData('tb5')">
          <option *ngFor="let y of yr5_lst" [ngValue]="y">{{y.year}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      ปัจจัยที่เลือก
      <table style="width:100%">
        <tr>
        <tr>
          <td style="width:10%">ปัจจัยที่ 1</td>
          <td><input type="text" class="form-control" [(ngModel)]="fac_a" disabled></td>
        </tr>
        <tr>
          <td style="width:10%">ปัจจัยที่ 2</td>
          <td><input type="text" class="form-control" [(ngModel)]="fac_b" disabled></td>
        </tr>
        <tr>
          <td style="width:10%">ปัจจัยที่ 3</td>
          <td><input type="text" class="form-control" [(ngModel)]="fac_c" disabled></td>
        </tr>
        <tr>
          <td style="width:10%">ปัจจัยที่ 4</td>
          <td><input type="text" class="form-control" [(ngModel)]="fac_d" disabled></td>
        </tr>
        <tr>
          <td style="width:10%">ปัจจัยที่ 5</td>
          <td><input type="text" class="form-control" [(ngModel)]="fac_e" disabled></td>
        </tr>
      </table>
    </div>
  </div>



  <div class="row" *ngFor="let i of dataSel">
    <div class="row">
      <label for="ex1">{{ i }}</label>
      <input class="form-control" id="ex1" type="number">
    </div>
    <div class="row">
      <label for="ex1">{{ i }}</label>
      <input class="form-control" id="ex1" type="number">
    </div>
  </div>

  <p></p>
  <hr>

  2.ให้คะแนนความสัมคัญแบบ Pairwise Comparison Matrix

  <table style="width:100%">
    <tr>
      <th></th>
      <th>{{fac_a}}</th>
      <th>{{fac_b}}</th>
      <th>{{fac_c}}</th>
      <th>{{fac_d}}</th>
      <th>{{fac_e}}</th>
    </tr>
    <tr>
      <td>{{fac_a}}</td>
      <td><input type="number" class="form-control" [(ngModel)]="a1" disabled></td>
      <td>
        <!-- <input type="number" class="form-control" [(ngModel)]="b1" (change)="calAHP('a2',$event)"> -->
        <select class="form-control" [(ngModel)]="b1" (change)="calAHP('a2',$event)">
          <option *ngFor="let i of selItem" [value]="i.val">
            {{i.name}}
          </option>
        </select>
      </td>
      <td>
        <!-- <input type="number" class="form-control" [(ngModel)]="c1" (change)="calAHP('a3',$event)"> -->
        <select class="form-control" [(ngModel)]="c1" (change)="calAHP('a3',$event)">
          <option *ngFor="let i of selItem" [value]="i.val">
            {{i.name}}
          </option>
        </select>
      </td>
      <td>
        <!-- <input type="number" class="form-control" [(ngModel)]="d1" (change)="calAHP('a4',$event)"> -->
        <select class="form-control" [(ngModel)]="d1" (change)="calAHP('a4',$event)">
          <option *ngFor="let i of selItem" [value]="i.val">
            {{i.name}}
          </option>
        </select>
      </td>
      <td>
        <!-- <input type="number" class="form-control" [(ngModel)]="e1" (change)="calAHP('a5',$event)"> -->
        <select class="form-control" [(ngModel)]="e1" (change)="calAHP('a5',$event)">
          <option *ngFor="let i of selItem" [value]="i.val">
            {{i.name}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{{fac_b}}</td>
      <td><input type="number" class="form-control" [(ngModel)]="a2" disabled></td>
      <td><input type="number" class="form-control" [(ngModel)]="b2" disabled></td>
      <td>
        <!-- <input type="number" class="form-control" [(ngModel)]="c2" (change)="calAHP('b3',$event)"> -->
        <select class="form-control" [(ngModel)]="c2" (change)="calAHP('b3',$event)">
          <option *ngFor="let i of selItem" [value]="i.val">
            {{i.name}}
          </option>
        </select>
      </td>
      <td>
        <!-- <input type="number" class="form-control" [(ngModel)]="d2" (change)="calAHP('b4',$event)"> -->
        <select class="form-control" [(ngModel)]="d2" (change)="calAHP('b4',$event)">
          <option *ngFor="let i of selItem" [value]="i.val">
            {{i.name}}
          </option>
        </select>
      </td>
      <td>
        <!-- <input type="number" class="form-control" [(ngModel)]="e2" (change)="calAHP('b5',$event)"> -->
        <select class="form-control" [(ngModel)]="e2" (change)="calAHP('b5',$event)">
          <option *ngFor="let i of selItem" [value]="i.val">
            {{i.name}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{{fac_c}}</td>
      <td><input type="number" class="form-control" [(ngModel)]="a3" [value]="c1" disabled></td>
      <td><input type="number" class="form-control" [(ngModel)]="b3" [value]="c2" disabled></td>
      <td><input type="number" class="form-control" [(ngModel)]="c3" disabled></td>
      <td>
        <!-- <input type="number" class="form-control" [(ngModel)]="d3" (change)="calAHP('c4',$event)"> -->
        <select class="form-control" [(ngModel)]="d3" (change)="calAHP('c4',$event)">
          <option *ngFor="let i of selItem" [value]="i.val">
            {{i.name}}
          </option>
        </select>
      </td>
      <td>
        <!-- <input type="number" class="form-control" [(ngModel)]="e3" (change)="calAHP('c5',$event)"> -->
        <select class="form-control" [(ngModel)]="e3" (change)="calAHP('c5',$event)">
          <option *ngFor="let i of selItem" [value]="i.val">
            {{i.name}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{{fac_d}}</td>
      <td><input type="number" class="form-control" [(ngModel)]="a4" [value]="d1" disabled></td>
      <td><input type="number" class="form-control" [(ngModel)]="b4" [value]="d2" disabled></td>
      <td><input type="number" class="form-control" [(ngModel)]="c4" [value]="d3" disabled></td>
      <td><input type="number" class="form-control" [(ngModel)]="d4" disabled></td>
      <td>
        <!-- <input type="number" class="form-control" [(ngModel)]="e4" (change)="calAHP('d5',$event)"> -->
        <select class="form-control" [(ngModel)]="e4" (change)="calAHP('d5',$event)">
          <option *ngFor="let i of selItem" [value]="i.val">
            {{i.name}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{{fac_e}}</td>
      <td><input type="number" class="form-control" [(ngModel)]="a5" [value]="e1" disabled></td>
      <td><input type="number" class="form-control" [(ngModel)]="b5" [value]="e2" disabled></td>
      <td><input type="number" class="form-control" [(ngModel)]="c5" [value]="e3" disabled></td>
      <td><input type="number" class="form-control" [(ngModel)]="d5" [value]="e4" disabled></td>
      <td><input type="number" class="form-control" [(ngModel)]="e5" disabled></td>
    </tr>

  </table>

  <p></p>
  <button class="btn btn-primary" (click)="sumWeight()"><i
      class="fa fa-plus-circle"></i>&nbsp;วิเคราะห์ข้อมูล</button>&nbsp;

  <p></p>
  <hr>

  3.ผลรวมของค่าน้ำหนัก
  <table style="width:100%">
    <tr>
      <th>{{fac_a}}</th>
      <th>{{fac_b}}</th>
      <th>{{fac_c}}</th>
      <th>{{fac_d}}</th>
      <th>{{fac_e}}</th>
    </tr>
    <tr>
      <td><input type="number" class="form-control" [(ngModel)]="sum_a" disabled></td>
      <td><input type="number" class="form-control" [(ngModel)]="sum_b" disabled></td>
      <td><input type="number" class="form-control" [(ngModel)]="sum_c" disabled></td>
      <td><input type="number" class="form-control" [(ngModel)]="sum_d" disabled></td>
      <td><input type="number" class="form-control" [(ngModel)]="sum_e" disabled></td>
    </tr>
  </table>

  <p></p>
  <hr>

  <div class="row">
    <div class="col-8">
      4.คำนวณค่า Eigenvector
      <table style="width:100%">
        <tr>
          <th>factor</th>
          <th>value</th>
        </tr>
        <tr *ngFor="let e of eigenVector">
          <td><input type="text" class="form-control" [value]="e.name"></td>
          <td style="width:10%"><input type="text" class="form-control" [value]="e.value | number"></td>
        </tr>
      </table>

    </div>
    <div class="col-4">
      5.คำนวณความสอดคล้องของข้อมูล<p></p>
      L: {{l | number}} <p></p>
      CI: {{ci | number}} <p></p>
      CR: {{cr | number}} *<p></p>

      *ค่า CR < 0.1 แสดงว่าค่าปัจจัยมีความสอดคล้องกัน สามารถนำ Eigenvector ไปใช้เป็นค่าน้ำหนักได้ <p>
        </p>
        *ค่า CR> 0.1 แสดงว่าค่าปัจจัยไม่มีความสอดคล้องกัน ต้องปรับหรือให้ค่าปัจจัยใหม่
    </div>
  </div>
</div>
<p></p>
<p></p>
