<div class="container mt-6">

  <div class="row">
    <div class="col-lg-6">
      <div class="card border-light mb-3">
        <div class="card-header">Map</div>
        <div class="card-map">
          <div id="map"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card border-light mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
          <fieldset>
            <legend>เลือกปี และพื้นที่</legend>

            <div class="form-group">ปี {{year}}
              <div class="slidecontainer">
                <input type="range" min="2540" max="2559" [(ngModel)]="year" class="slider" (ngModelChange)="selectYear($event)">
              </div>
            </div>

            <div class="form-group">จังหวัด
              <select class="form-control" [(ngModel)]="prov_ls" (ngModelChange)="selectProv($event)">
                <option *ngFor="let prov of provs" [(ngValue)]="prov">{{prov.prov_name}}</option>
              </select>
            </div>

            <div class="form-group">อำเภอ
              <select class="form-control" [(ngModel)]="amp_ls" (ngModelChange)="selectAmp($event)">
                <option *ngFor="let amp of amps" [(ngValue)]="amp">{{amp.amp_name}}</option>
              </select>
            </div>

            <div class="form-group">ตำบล
              <select class="form-control" [(ngModel)]="tam_ls" (ngModelChange)="selectTam($event)">
                <option *ngFor="let tam of tams" [(ngValue)]="tam">{{tam.tam_name}}</option>
              </select>
            </div>

          </fieldset>
        </div>
      </div>

      <!-- <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h4 class="card-title">Secondary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div> -->
    </div>

  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card border-light mb-3">
        <div class="card-header">ประชากร: ทั้งประเทศ ปี {{year}}</div>
        <div class="card-body">
          <div id="th"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card border-light mb-3" *ngIf="placeName_prov">
        <div class="card-header">ประชากร: จ.{{placeName_prov}} ปี {{year}}</div>
        <div class="card-body">
          <div id="prov"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card border-light mb-3" *ngIf="placeName_amp">
        <div class="card-header">ประชากร: อ.{{placeName_amp}} จ.{{placeName_prov}} ปี {{year}}</div>
        <div class="card-body">
          <div id="amp"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card border-light mb-3" *ngIf="placeName_tam">
        <div class="card-header">ประชากร: ต.{{placeName_tam}} อ.{{placeName_amp}} จ.{{placeName_prov}} ปี
          {{year}}</div>
        <div class="card-body">
          <div id="tam"></div>
        </div>
      </div>
    </div>
  </div>

</div>
