<div class="container mt-6">
  <div class="row">
    <div class="col-lg-8">
      <div class="card border-light mb-3">
        <div class="card-header">Map</div>
        <div class="card-map">
          <div id="map"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card border-light mb-3">
        <div class="card-header">จุดความร้อนประเทศไทย ปี {{year}}</div>
        <div class="card-body">
          <div id="th"></div>
        </div>
      </div>
    </div>
  </div>
</div>
