#map {
    width: 100%;
    height: 460px;
}

#container {
    width: 100%;
    height: 100%;
}

#chart {
    width: 100%;
    height: 100%;
}

.scroll-div {
    height: 24rem;
    overflow-y: scroll;
}


.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    /* height: 16rem; */

}

.card-map {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.box {
    text-align: center;
}