<div class="mb-6">

  <!-- <div class="jumbotron">
    <p class="lead">ฐานข้อมูลของประเทศ</p>
    <p>ประกอบด้วย : xxxxxx xxxxxx xxxxxxxxxxxx xxxxx </p>
  </div> -->

  <p>ข้อมูลระดับประเทศ</p>
  <p></p>
  <div class="row">
    <div class="col-lg-4">


      <div class="jumbotron" style="margin-bottom: 0px; height: 470px">
        <div class="form-group">
          <label for="exampleSelect1">เลือก tables</label>
          <select class="form-control" [(ngModel)]="tb" (ngModelChange)="listField($event)">
            <option *ngFor="let t of tables" [ngValue]="t">{{t.data}}</option>
          </select>
        </div>
        <p></p>
        <div class="form-group">
          <label for="exampleSelect1">เลือก field</label>
          <select class="form-control" [(ngModel)]="fld" (ngModelChange)="selectData($event)">
            <option *ngFor="let f of fields" [ngValue]="f">{{f.descb}}</option>
          </select>
        </div>

        <div style="padding-top:40px">
          <p></p>
          <h4> {{tbName}}</h4>
          {{fldName}}
        </div>
      </div>

    </div>
    <div class="col-lg-8">
      <div class="card border-secondary">
        <div class="card-header">Header</div>
        <div class="card-body" id="chart"></div>
      </div>
    </div>
  </div>

  <p></p>
  <p></p>

  <p>เปรียบเทียบข้อมูลรายปี</p>
  <p></p>
  <div class="row minitron">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="exampleSelect1">เลือก ปี</label>
        <select class="form-control" [(ngModel)]="yr1" (ngModelChange)="selectByYear($event, 'map1', 'chart1')">
          <option *ngFor="let y of year1" [ngValue]="y">{{y.year}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="exampleSelect1">เลือก ปี</label>
        <select class="form-control" [(ngModel)]="yr2" (ngModelChange)="selectByYear($event, 'map2', 'chart2')">
          <option *ngFor="let y of year2" [ngValue]="y">{{y.year}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row minitron">
    <div class="col-lg-12" *ngIf="pShow">
      <!-- <label for="exampleSelect1"> ปี: {{yearArr[0].year}}: {{meanArr[0] | number}}</label>
      <p></p>
      <label for="exampleSelect1">ปี: {{yearArr[1].year}}: {{meanArr[1] | number}}</label> -->
      <p></p>
      <label for="exampleSelect1">{{ttest.pTxt}}</label>&nbsp;&nbsp;
      <label for="exampleSelect1">( p-value: {{ttest.p | number}} )</label>
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card border-secondary mb-3">
        <div class="card-header">map</div>
        <div class="card-body" id="map1">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card border-secondary mb-3">
        <div class="card-header">map</div>
        <div class="card-body" id="map2">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card border-secondary mb-3">
        <div class="card-header">Header</div>
        <div class="card-body chart" id="chart1">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card border-secondary mb-3">
        <div class="card-header">Header</div>
        <div class="card-body chart" id="chart2">
        </div>
      </div>
    </div>
  </div>



</div>
