<div class="container mt-6">
  <div class="row">
    <div class="col-lg-12">
      <div class="card border-secondary mb-4">
        <div class="card-header">map</div>
        <div class="card-body" id="map">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card border-secondary mb-4">
        <div class="card-header">map</div>
        <div class="card-body" id="map">vfdvd
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card border-secondary mb-4">
        <div class="card-header">map</div>
        <div class="card-body" id="map">vfdvdv
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card border-secondary mb-4">
        <div class="card-header">map</div>
        <div class="card-body" id="map">vfdfvd
        </div>
      </div>
    </div>
  </div>

</div>
